nav {
    color: #FFFFFF;
    font-family: "Bungee", "Source Sans Pro", sans-serif;
    background-image: url("../images/washi.png");
    background-color: rgb(12, 122, 85);
    border-bottom: solid;
    border-color: #f1a922;
    height: 120px;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
  }

.website-title {
    font-size: 45px;
  }

.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 300;
  padding-left: 25px;
}

.write-a-new-tweet{
  font-family: "Source Sans Pro", sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}