.new-tweet {
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 90%;
    padding: 2em;
}

.new-tweet h2 {
    margin-top: 1em;
    justify-content: flex-start;
    border-bottom: solid #4a4747 5px;
}

.new-tweet textarea {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    border: 0;
    border-bottom: 5px solid #4056A1;
    resize: none;
    width: 100%;
    background-color: #f4f1ec;
}

button {
    background-color: #4056A1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    font-family: "Bungee", "Source Sans Pro", sans-serif;
    font-size: 16px;
  }

.counter {
    display: flex;
    justify-content: flex-end;
}

.counter-red {
    color: red;
}

